## Terraform:
## Local .terraform directories
/.terraform/

## .tfstate files
*.tfstate
*.tfstate.*

## Crash log
crash.log

## Ignore override files as they are usually used to override resources locally
## and so are not checked in.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

## Secrets and authentication files
/auth/
terraform.tfvars

## Terraform plans
*.tfplan


## System files:
## macOS
.DS_Store
.DS_Store?
*.swp

## Windows
Thumbs.db


## VSCode (keeping workspace configurations):
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
