UsePrivilegeSeparation sandbox
Subsystem              sftp internal-sftp
ClientAliveInterval    180
UseDNS                 no
UsePAM                 no

PermitRootLogin       no
AllowUsers            core admin
AuthenticationMethods publickey
PrintMotd             no
